.nav {
  display: flex;
  align-items: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  padding: 0.5em;
  z-index: 999;
}

.site-title {
  font-size: 2rem;
  padding: 0.1rem;
  color: #6fa5da;
  
}

.nav ul {
  padding: 0.2rem;
  margin: 0;
  display: flex;
  gap: 0.01rem;
}

.nav a {
  display: flex;
  margin-top: 0.7rem;
  text-decoration: none;
  padding: 0 1rem;
  color: grey;
}

.nav li:hover {
  text-decoration: underline white;
}


.log-btn{

    border: 1px solid $error-color;
    border-radius: 10px;
    padding: 0.25rem;
    background-color: $error-color;
    
}