$sm:            36em;      
$md:            48em;      
$lg:            62em;      
$gl:            64em;     
$xl:            75em; 

$col-sm:        540px;  
$col-md:        720px;  
$col-lg:        960px;  
$col-xl:        1140px; 

$def:          320px;

$xs: 23.5em;

$breakpoints: (
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);